langchain
langchain-community
langchain-openai
faiss-cpu
pypdf
pytesseract
Pillow
python-dotenv
sentence-transformers
streamlit


#venv\Scripts\activate
#python app.py
#print(f"Loaded {file}: {content[:80]}")
#streamlit run ui.py

